In [2]:
# -*- coding: utf-8 -*-
"""
Created on Sun Mar 13 15:09:40 2022

@author: purem
"""

import sqlite3

conn = sqlite3.connect('test.db')
print ("数据库打开成功")
c = conn.cursor()
c.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')
print ("数据表创建成功")
conn.commit()
conn.close()

数据库打开成功

OperationalError: table COMPANY already exists

In [15]:
import sqlite3

conn = sqlite3.connect('test.db')
print ("数据库打开成功")
c = conn.cursor()
try:
    c.execute('''INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES(5,'SEAN',30,'Pingtung city',3500)''')
    print ("数据表寫入成功")
    
    conn.commit()
except:
    print ("数据表寫入失敗")
 
conn.close()

数据库打开成功
数据表寫入成功

In [16]:


import sqlite3

conn = sqlite3.connect('test.db')
print ("数据库打开成功")
c = conn.cursor()
cursor = c.execute('''SELECT * FROM COMPANY''')

for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("数据表運行成功")
conn.commit()
conn.close()

数据库打开成功
ID =  1
NAME =  SEAN
ADDRESS =  30
SALARY =  Pingtung city

ID =  2
NAME =  SEAN
ADDRESS =  30
SALARY =  Pingtung city

ID =  3
NAME =  SEAN
ADDRESS =  30
SALARY =  Pingtung city

ID =  4
NAME =  SEAN
ADDRESS =  30
SALARY =  Pingtung city

ID =  5
NAME =  SEAN
ADDRESS =  30
SALARY =  Pingtung city

数据表運行成功

In [45]:
import sqlite3

conn = sqlite3.connect('test.db')
print ("数据库打开成功")
c = conn.cursor()
cursor = c.execute('''SELECT * FROM COMPANY ORDER BY ID DESC''')

# for row in cursor:
#    print ("ID = ", row[0], "\n")

cs = cursor.fetchall()

print(cs[0][0])

print ("数据表運行成功")
conn.commit()
conn.close()

数据库打开成功
5
数据表運行成功

In [1]:
import sqlite3

conn = sqlite3.connect('tradingview.db')
print ("数据库打开成功")
c = conn.cursor()
c.execute('''CREATE TABLE ALERTMESSAGE
       (ID INT PRIMARY KEY     NOT NULL,
       MESSAGE         TEXT    NOT NULL,
       EXECUTETIME     DATETIME NOT NULL);''')
print ("数据表创建成功")
conn.commit()
conn.close()

数据库打开成功
数据表创建成功

In [6]:
import sqlite3
from datetime import datetime


conn = sqlite3.connect('tradingview.db')
print ("数据库打开成功")
c = conn.cursor()

sql = '''INSERT INTO ALERTMESSAGE(ID,MESSAGE,EXECUTETIME) VALUES(0,'INIT','%s')''' % datetime.now()

try:
    c.execute(sql)
    print ("数据表寫入成功")
    
    conn.commit()
except:
    print()
    print ("数据表寫入失敗")
 
conn.close()

数据库打开成功
数据表寫入成功

In [47]:
# -*- coding: utf-8 -*-
"""
Created on Sat Mar  5 10:11:40 2022

@author: purem
"""
from flask import Flask, request

app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'hello world!'


@app.route('/webhook', methods=['POST'])
def webhook():
    print("--request start--")
    print(request)
    print(request.data)
    print("--request end--")
    return "OK!"

app.run(host='220.133.234.2', port=80)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://220.133.234.2:80/ (Press CTRL+C to quit)
34.212.75.30 - - [14/Mar/2022 00:02:27] "POST /webhook HTTP/1.1" 200 -

--request start--
<Request 'http://thetainformation.com/webhook' [POST]>
b'BTCUSDT \xe4\xba\xa4\xe5\x8f\x89(Crossing) 38933.68'
--request end--

52.32.178.7 - - [14/Mar/2022 00:03:50] "POST /webhook HTTP/1.1" 200 -

--request start--
<Request 'http://thetainformation.com/webhook' [POST]>
b'BTCUSDT \xe5\xb0\x8f\xe6\x96\xbc(Less Than) 40000.00'
--request end--

In [1]:
import sqlite3
from flask import Flask, request

app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'hello world!'


@app.route('/webhook', methods=['POST'])
def webhook():
    print("--request start--")
    print(request)
    print(request.data)
    print("--request end--")
    
    print("--open database connection--")
    conn = sqlite3.connect('tradingview.db')
    print ("open database success")
    c = conn.cursor()
    cursor = c.execute('''SELECT * FROM ALERTMESSAGE ORDER BY ID DESC''')
    cs = cursor.fetchall()
    cs
    indexNumber=cs[0][0]
    c.execute('''INSERT INTO COMPANY(ID,MESSAGE) VALUES(''' + (indexNumber+1) + ''')''')
    conn.close()
    return "OK!"

app.run(host='220.133.234.2', port=80)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://220.133.234.2:80/ (Press CTRL+C to quit)
[2022-03-14 00:18:35,773] ERROR in app: Exception on /webhook [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-1-8a87a50712df>", line 26, in webhook
    c.execute('''INSERT INTO COMPANY(ID,MESSAGE) VALUES(''' + (indexNumber+1) + ''')''')
TypeError: can only concatenate str (not "int") to str
52.32.178.7 - - [14/Mar/2022 00:18:35] "POST /webhook HTTP/1.1" 500 -

--request start--
<Request 'http://thetainformation.com/webhook' [POST]>
b'BTCUSDT \xe5\xb0\x8f\xe6\x96\xbc(Less Than) 40000.00'
--request end--
--open database connection--
open database success

[2022-03-14 00:18:41,116] ERROR in app: Exception on /webhook [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-1-8a87a50712df>", line 26, in webhook
    c.execute('''INSERT INTO COMPANY(ID,MESSAGE) VALUES(''' + (indexNumber+1) + ''')''')
TypeError: can only concatenate str (not "int") to str
34.212.75.30 - - [14/Mar/2022 00:18:41] "POST /webhook HTTP/1.1" 500 -

--request start--
<Request 'http://thetainformation.com/webhook' [POST]>
b'BTCUSDT \xe5\xb0\x8f\xe6\x96\xbc(Less Than) 40000.00'
--request end--
--open database connection--
open database success

[2022-03-14 00:18:46,466] ERROR in app: Exception on /webhook [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-1-8a87a50712df>", line 26, in webhook
    c.execute('''INSERT INTO COMPANY(ID,MESSAGE) VALUES(''' + (indexNumber+1) + ''')''')
TypeError: can only concatenate str (not "int") to str
52.32.178.7 - - [14/Mar/2022 00:18:46] "POST /webhook HTTP/1.1" 500 -

--request start--
<Request 'http://thetainformation.com/webhook' [POST]>
b'BTCUSDT \xe5\xb0\x8f\xe6\x96\xbc(Less Than) 40000.00'
--request end--
--open database connection--
open database success

[2022-03-14 00:18:51,818] ERROR in app: Exception on /webhook [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-1-8a87a50712df>", line 26, in webhook
    c.execute('''INSERT INTO COMPANY(ID,MESSAGE) VALUES(''' + (indexNumber+1) + ''')''')
TypeError: can only concatenate str (not "int") to str
52.32.178.7 - - [14/Mar/2022 00:18:51] "POST /webhook HTTP/1.1" 500 -

--request start--
<Request 'http://thetainformation.com/webhook' [POST]>
b'BTCUSDT \xe5\xb0\x8f\xe6\x96\xbc(Less Than) 40000.00'
--request end--
--open database connection--
open database success

In [5]:
import sqlite3

conn = sqlite3.connect('tradingview.db')
print ("数据库打开成功")
c = conn.cursor()
cursor = c.execute('''SELECT * FROM ALERTMESSAGE''')

# for row in cursor:
#    print ("ID = ", row[0])
#    print ("MESSAGE = ", row[1], "\n")

cs = cursor.fetchall()

print(cs)

print ("数据表運行成功")
conn.commit()
conn.close()

数据库打开成功
[(1, '')]
数据表運行成功

In [17]:
# tradingview.db環境建立


import sqlite3
from datetime import datetime

conn = sqlite3.connect('tradingview.db')
print ("数据库打开成功")
c = conn.cursor()
c.execute('''CREATE TABLE ALERTMESSAGE
       (ID INT PRIMARY KEY     NOT NULL,
       MESSAGE         TEXT    NOT NULL,
       SYMBOL          TEXT    NOT NULL,
       EXECUTETIME     DATETIME NOT NULL);''')
print ("数据表创建成功")

sql = '''INSERT INTO ALERTMESSAGE(ID,MESSAGE,SYMBOL,EXECUTETIME) VALUES(0,'INIT','INIT','%s')''' % datetime.now()

try:
    c.execute(sql)
    print ("数据表寫入成功") 
    conn.commit()
except:  
    print ("数据表寫入失敗")
    logging.exception("The detailed error message -")

conn.close()

数据库打开成功
数据表创建成功
数据表寫入成功